apiVersion: v1
kind: Pod
metadata:
  name: nginx
  labels:
    topic: services
spec:
  containers:
    - name: nginx
      image: nginx:1.14.2
      ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: service-cip
spec:
  selector:
    topic: services
  ports:
    protocol: tcp
    port: 80
    targetPort: 80




